---

import myIcon from "../assets/no2ca.svg"
import Layout from "../layouts/Layout.astro";

const name = "nonica";
const description = "低レイヤ / OS開発を中心に学んでいる大学2年生です.";
const interests = ["OS", "Rust", "RISC-V", "x86", "Compiler"];

const links = [
	{ name: "GitHub", url: "https://github.com/no2ca" },
	{ name: "Cosense (Scrapbox)", url: "https://cosen.se/nonica" },
	{ name: "Qiita", url: "https://qiita.com/nonica" },
	{ name: "Bluesky", url: "https://bsky.app/profile/did:plc:wvwzypmkkewmn3yaedrpzncd" },
	{ name: "X", url: "https://x.com/no2cax" },
];

const projects = [
	{
		name: "nex_os",
		description: "RISC-Vで動作するOS",
		url: "https://github.com/no2ca/nex_os",
	},
	{
		name: "lifegame",
		description: "ベアメタルのx86で動くライフゲーム",
		url: "https://github.com/no2ca/lifegame",
	},
	{
		name: "nonicc",
		description: "x86_64をターゲットにしたCコンパイラ",
		url: "https://github.com/no2ca/nonicc",
	},
];

---

<Layout title="nonica | Home Page">
	<main>
		<img src={myIcon.src} alt="icon" width="160" />

		<h1>{name}</h1>
		<p>Last updated: 2025-12 (WIP) </p>
		<p>{description}</p>

		<h2>Interests</h2>
		<p>{interests.join(" / ")}</p>
		
		<h2>Links</h2>
		<ul>
			{links.map(link => (
				<li>
					<a href={link.url} target="_blank">{link.name}</a>
				</li>
			))}
		</ul>
		
		<h2>Projects</h2>
		<ul>
			{projects.map(project => (
				<li>
					<a href={project.url} target="_blank"><strong>{project.name}</strong><br /></a>
					{project.description}<br />
				</li>
			))}
		</ul>

	</main>
</Layout>
